/*Who we are section styles*/
.who-we-are .container{
	padding-top: 80px;
	padding-bottom: 80px;
}
.who-we-are img{
	max-width: 100%;
	height: auto;
}
.who-we-are h1{
	font-family: 'Play', sans-serif;
	font-size: 35px;
	color: #22a7f0;
}
.who-we-are p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.78;
	text-align: justify;
}



/*Features Section Styles*/
.features .container{
	padding-top: 80px;
	padding-bottom: 60px;
	color: white;
	text-align: center;
}
.features h2{
	font-size: 24px;
	font-family: 'Play', sans-serif;
	margin-bottom: 10px;
}
.features p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.72;
}



/*Why choose us section styles*/
.why-choose-us .container{
	padding-top: 80px;
	padding-bottom: 80px;
}
.why-choose-us h2{
	font-family: 'Play', sans-serif;
	font-size: 35px;
	color: #22a7f0;
	margin-bottom: 20px;
}



/*Client Review section styles*/
.client-review .container{
	padding-top: 70px;
	padding-bottom: 70px;
	color: white;
	text-align: center;
}
.client-review h2{
	font-family: 'Play', sans-serif;
	font-size: 35px;
	margin-bottom: 30px;
}
.client-review p{
	text-align: justify;
}
.client-review img{
	border-radius: 50%;
}


/*Crazy Team Styles*/
.crazy-team .container{
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #4b4b4b;
}
.crazy-team h2{
	text-align: left;
	color: #26a1e4;
	font-family: 'Play', sans-serif;
	font-size: 35PX;
	margin-bottom: 40px;
}
.crazy-team h3{
	font-size: 24px;
}
.crazy-team h4{
	font-size: 13px;
}
.crazy-team img{
	width: 100%;
	height: auto;
}