/*Recent Projects Styles*/
.recent-projects .container{
    padding-top: 80px;
    padding-bottom: 80px;
}
.recent-projects h1{
    font-family: 'Play', sans-serif;
    font-size: 35px;
    color: #26a1e4;
    margin-bottom: 50px;
}
.project-nav{
	font-family: 'Open Sans', sans-serif, sans-serif;
	font-size: 14px;
    margin-bottom: 50px;
    text-align: end;
}
.project-nav li {
    display: inline-block;
}
.project-nav li+li:before {
  padding: 30px;
  content: "/";
}
.project-nav li a {
    color: black;
}


/*Media Queries*/
@media screen and (max-width: 767px){
    .project-nav li+li:before {
        padding: 10px;
    }
    .project-nav{
        font-size: 12px;
    }
}